<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
		<div class="row">
			<a class="nav navbar-brand" routerLink="/dashboard">{{title}}</a>
<!--
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#">Gene Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/experiment-search">Experiment Search</a>
				</li>
			</ul>
-->
	</div>    
</div>


<!--
<div class = "container">
	<h1>Experiment</h1>
	<h2>{{experiment.id}}</h2>
	<h2>{{experiment.description}}</h2>
</div>
-->

<router-outlet></router-outlet>

<!--<experiment-search></experiment-search>-->

