<div class="container">
	<div class="row">
		<a class="nav navbar-brand" routerLink="/dashboard">{{title}}</a>
	</div>
</div>


<div class="container" style="top:100px">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-6">
				<h2>Gene Search</h2>
				<p>Tool for B-DNA gene expression search. </p>
				<p><a class="btn btn-secondary" routerLink="/gene-search" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-6">
				<h2>Experiment Search</h2>
				<p>Tool for B-DNA experiment result search</p>
				<p><a class="btn btn-secondary" routerLink="/experiment-search" role="button">View details &raquo;</a></p>
		 </div>
			
		</div>


	
		<hr>

		<footer>
			<p>&copy; Ironwood 2017</p>
		</footer>
 </div> <!-- /container -->
