
<nav mat-tab-nav-bar>
	<a mat-tab-link
		 *ngFor="let routeLink of routeLinks;"
		 [routerLink]='routeLink.link'
		 routerLinkActive #rla="routerLinkActive"
		 [active] = "activeLinkIndex===routeLink.index"
		 (click)='activeLinkIndex=routeLink.index'
		 [routerLinkActiveOptions]="{exact:true}">
	
		{{routeLink.label}}
	</a>
</nav>
<router-outlet></router-outlet>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->



<!--

<heatmap [data]="expressions"></heatmap>

<bar-chart [data]="expressions"></bar-chart>

<box-plot [data]="expressions"></box-plot>

<data-table [data]="expressions"></data-table>
-->
<!--<div *ngIf="expressions">-->
    <!---->
    <!---->
    <!---->
    <!--<h2 *ngFor="let expression of expressions">{{expression.id}}</h2>-->



<!--</div>-->